body {
    padding: 10px;
    background-color: red;

}
.micla{
    color: red;
    background-color: green;
}

.comment {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

/* change the font */
