{% extends "auctions/layout.html" %} 

{% block body %}

<h2> Categories</h2>


{% if message %}
<div>{{ message }}</div>
{% endif %}

 <h1>This should loop through the categories rather then the listings YOU can retrieve these in the view</h1>
<h2>Altrenativly these could be a radio button</h2>
<ul>
  {% for listing in listings %} 
  
  {% if listing.active %}
  <li>
    <h2><a href="{% url 'listing' 1 %}"> "ADD IN CATAGORY NAME"</a></h2>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<!-- -->

{% endblock %}
