{% extends "auctions/layout.html" %} 

{% block body %}

{% if category %}
<h1>Active {{category}} listings</h1>
{% endif %}


<ul>
  {% for listing in listings %} 
  
  {% if listing.active %}
  <li>
    <h2><a href="{% url 'listing' listing.id%}">{{listing.title}} </a></h2>
    <p>{{listing.description}}</p>
    <p>Starting bid: £{{listing.starting_bid}}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2> Categories </h2>
<ul>
  {% for category in categories %} 
  <li>
    <h2><a href="{% url 'category' category%}">{{category}}</a></h2>
  </li>
  {% endfor %}
</ul>


{% endblock %}
