{% extends "auctions/layout.html" %} {% block body %}

<h2 name="micla">Active Listings</h2>
{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="row-container">
  {%for element in listings%} {%if element.active%}
  <div class="listing-element-small">
    <h2><a href="{% url 'listing' element.id%}">{{element.title}}</a></h2>
    <img src="{{element.image}}" alt="picture of {{elemnt.title}}" />
  </div>
  {%endif%} {%endfor%}
</div>

<ul>
  {% for listing in listings %} {% if listing.active %}
  <li>
    <h2><a href="{% url 'listing' listing.id%}">{{listing.title}} </a></h2>
    <p>{{listing.description}}</p>
    <p>Starting bid: £{{listing.starting_bid}}</p>
  </li>
  {% endif %} {% endfor %}
</ul>
<a href="{%url 'new_listing'%}">Add New Listing</a>
{% endblock %}
