{%extends "auctions/layout.html"%} {%block body%}

<div
  name="displayed_listing"
  style="margin: 10px; padding: 10px; border: 1px solid black"
>
  {%if message%}
  <p>{{message}}</p>
  {%endif%}
  <h1>{{listing.title}}</h1>
  <h2>posted by: @{{listing.user}}</h2>
  <img
    src="{{listing.image}}"
    alt="image"
    style="width: 300px; height: 200px"
  />

  <p>{{listing.description}}</p>
  <p>Starting bid: £{{listing.starting_bid}}</p>

  {%if highest_bid%}
  <p>Current bid: £{{highest_bid.amount}} by user {{highest_bid.user}}</p>
  {%else%}
  <p>No bids have been made</p>
  {%endif%}

  <form action="{%url 'bid' listing_id=listing.id%}" method="post">
    {% csrf_token %} {{bid_form.as_p}}
    <input type="submit" value="Bid" />
  </form>

  {%if listing in user.watchlist.all%}

  <form method="post" action="{%url 'watchlist' listing_id=listing.id%}">
    {% csrf_token %}
    <input type="submit" value="Remove from watchlist" />
  </form>
  {%else%}
  <form method="post" action="{%url 'watchlist' listing_id=listing.id%}">
    {% csrf_token %}
    <input type="submit" value="Add to watchlist" />
  </form>
  {%endif%}

  <!-- secontion for owener of th listing -->
  {%if user == listing.user%}
  <p> Can I view this tag</p>
  <a href="{%url 'edit' listing_id=listing.id%}">
    <button>Micla</button>
  </a>
  <p> check how I did this for the wiki page</p>

  <form method="post" action="{%url 'close' listing_id=listing.id%}">
    {% csrf_token %}
    <input type="submit" value="Close" />
  </form>

  {%endif%}
</div>
a TODO: add the correct details once this is finished
<br />
<h2>Comemnts</h2>
{%for comment in comments%}
<div style="margin: 10px; padding: 10px; border: 1px solid black">
  <p>{{comment.user}}</p>
  <p>{{comment.text}}</p>
</div>

{%endfor%}
<form action="{%url 'comment' listing_id=listing.id%}" method="post">
  {% csrf_token %}
  <textarea
    name="comment"
    id="comment"
    placeholder="Insert your comment"
  ></textarea>
  <input type="submit" value="Submit" />
</form>
<a href="{%url 'index'%}">All listings</a>
{%endblock%}
