{%extends "auctions/layout.html"%} {%block body%}
<h1>Profile</h1>

<div
  class="profile-contianer"
  style="
    background-color: yellow;
    display: flex;
    align-items: center;
    width: 100%;
  "
>
  <img src="{{user.image}}" alt="" />
  <div id="info">
    <h1>user: {{user.username}}</h1>
    <p>email: {{user.email}}</p>
    <p>date joined: {{user.date_joined}}</p>
  </div>
</div>

<h2>Watchlist</h2>
<div class="row-container">
  {%for element in watchlist%}
  <div class="listing-element-small">
    <h2><a href="{% url 'listing' element.id%}">{{element.title}} </a></h2>
    {%if element.active%}
    <img src="{{element.image}}" alt="picture of {{elemnt.title}}" />
    {%else%}
    <h2>CLOSED</h2>
    {%endif%}
  </div>
  {%endfor%}
</div>

<h2>My active listings</h2>

<div class="row-container">
  {%for element in listings%} {%if element.active%}
  <div class="listing-element-small">
    <h2><a href="{% url 'listing' element.id%}">{{element.title}}</a></h2>
    <img src="{{element.image}}" alt="picture of {{elemnt.title}}" />
  </div>
  {%endif%} {%endfor%}
</div>

<h2>My bids</h2>
{%for bid in bids%}
<div class="row-container">
  <div class="listing-element-small">
    <h2>
      <a href="{% url 'listing' bid.listing.id%}">{{bid.listing.title}}</a>
    </h2>
    <img src="{{bid.listing.image}}" alt="picture of {{bid.listing.title}}" />
    <p>my bid: {{bid.amount}}</p>
  </div>
</div>
{%endfor%} {%endblock%}
