{%extends "auctions/layout.html"%} {%block body%}
<h1>Profile</h1>

<p>user: {{user.username}}</p>
<p>email: {{user.email}}</p>
<p>date joined: {{user.date_joined}}</p>

TODO: insert profile picture link, how do photos with drag adn drop thing work?
where are thy stored? TODO: shoud make each of these into a menu you can open

<h2>Watchlist</h2>
<p>{{user.watchlist}}</p>

<h2>My active listings</h2>
{{user.listings}}

<h2>My bids</h2>
{{user.bids}}

<h2>Comments</h2>
{{user.comments}} {%endblock%}
